action=",mqtt"
binding="lgtv,mqtt1,network,systeminfo,yahooweather,lgtv1"
felix.fileinstall.filename="file:/openhab/userdata/etc/org.openhab.addons.cfg"
legacy="false"
misc="openhabcloud,homekit"
package="standard"
persistence="rrd4j,mapdb"
remote="true"
service.pid="org.openhab.addons"
transformation="map,regex,xslt,exec,javascript,scale,xpath,jsonpath"
ui="basic,paper,habpanel"
