baseURL="https://myopenhab.org/"
expose=( \
  "LuzPasillo2doPiso", \
  "LampSalaEstar2doPiso", \
  "LuzSalaEstar2doPiso", \
  "LuzDormitorio", \
  "BotonPorton", \
  "LuzOficina", \
  "UsarTimer1", \
  "UsarTimer2", \
  "LuzComedor", \
  "LuzDormitorioJaviera", \
  "LuzDormitorioVicente", \
  "LuzEscaleras2doPiso", \
  "LuzEscaleras3erPiso", \
  "LuzPasillo1erPiso", \
  "LuzPasillo3erPiso", \
  "LuzSalaEstar3erPiso", \
  "RiegoModo", \
)
mode="remote"
service.pid="org.openhab.openhabcloud"
