action="mqtt"
binding="mqtt1,lgtv1,yahooweather,systeminfo,ntp,network,wemo"
felix.fileinstall.filename="file:/openhab/userdata/etc/org.openhab.addons.cfg"
misc="dropbox1,homekit,openhabcloud"
package="standard"
persistence="mapdb,rrd4j"
remote="true"
service.pid="org.openhab.addons"
transformation="exec,javascript,jsonpath,map,regex,scale,xpath,xslt"
ui="basic,paper,habpanel"
